h1 {
    color: rgb(249, 249, 249);
}

body {
    background-color: aqua;
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

.formContainer {
    border: solid 1px blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    padding: 2%;
    background-color: rgba(10, 20, 218, 0.341);
}

.formContainer:hover {     
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.ldp {
    margin: 3%;
}

img{
    width: 40px;
    height: 40px;
}